/* Required for IE 6 and lower. */
.pf-form-twocol div.pf-element {
	width: 48%;
}
.pf-form-twocol div.pf-heading {
	width: 100%;
}
.pf-form-twocol div.pf-buttons {
	width: 550px;
}
.pf-form-threecol div.pf-element {
	width: 32%;
}
.pf-form-threecol div.pf-heading {
	width: 100%;
}
.pf-form-threecol div.pf-buttons {
	width: 550px;
}