Package: firefox-pines-cash-drawer-mmf
Priority: optional
Section: web
Maintainer: Hunter Perrin <hperrin@gmail.com>
Architecture: all
Version: 1.0
Installed-Size: 55.6
Depends: libhid0 (>= 0.2.15), firefox (>= 3.0) | abrowser (>= 3.0)
Homepage: http://sciactive.com/
Description: Firefox extension for Pines' POS to use an MMF cash drawer.
 firefox-pines-cash-drawer-mmf provides an interface for the POS system
 in Pines (com_sales) to communicate with an MMF cash drawer.
