/* ----------- Pines Forms ----------- */
.pform:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.pform fieldset {
	padding: 5.6px 10px 12px;
	border: 1px solid #CCC;
	overflow: auto; /* Opera 8 won't enclose floated divs without this. */
}
.pform fieldset legend, .pform .heading h1 {
	font-size: 1.3em;
	font-weight: normal;
}
.pform fieldset.group {
	display: block;
	clear: left;
	margin-bottom: 15px;
}
.pform div.element {
	float: left;
	clear: left;
	padding-bottom: 15px;
}
.pform div.heading, .pform div.element.full_width {
	width: 100%;
}
.pform div.heading {
	border-bottom: 1px solid #CCC;
	padding-bottom: 0;
	margin-bottom: 10px;
}
.pform div.heading h1 {
	margin-top: 5px;
	margin-bottom: 5px;
}
.pform div.heading p {
	clear: left;
	margin-top: 5px;
	margin-bottom: 5px;
}
.pform div.element .label, .pform div.element .note {
	width: 200px; /* Width of labels. */
	float: left;
}
.pform div.element .note {
	margin-top: .5em;
	clear: left;
	font-size: 70%;
	color: #555;
}
.pform div.element .group {
	 margin-left: 200px; /* Same as width of labels. */
}
.pform div.element .field, .pform div.buttons .button {
	float: none;
	margin-left: 5px; /* Margin between inputs and labels. */
}
.pform div.element .field.full_width {
	display: block;
	margin-left: 205px; /* Width of labels. */
}
.pform div.buttons {
	clear: both;
	padding-left: 185px; /* Width of labels + margin to inputs - button spacing. */
}
.pform div.buttons .button {
	margin-left: 20px; /* Button spacing. */
}
/* ----------- Two Columns ----------- */
.pform_twocol, .pform_twocol fieldset {
	overflow: hidden; /* Hides the unnecessary scrollbar caused by wide elements. */
}
.pform_twocol div.element {
	clear: none;
	width: auto;
	min-width: 50%; /* For two columns max. */
}
.pform_twocol div.heading, .pform_twocol div.full_width {
	width: 100%;
}
.pform_twocol div.heading {
	clear: both;
}
.pform_twocol div.buttons {
	clear: both;
	width: 100%;
}
/* ----------- Three Columns ----------- */
.pform_threecol, .pform_threecol fieldset {
	overflow: hidden; /* Hides the unnecessary scrollbar caused by wide elements. */
}
.pform_threecol div.element {
	clear: none;
	width: auto;
	min-width: 33%; /* For three columns max. */
}
.pform_threecol div.heading, .pform_threecol div.full_width {
	width: 100%;
}
.pform_threecol div.heading {
	clear: both;
}
.pform_threecol div.buttons {
	clear: both;
	width: 100%;
}